<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <div class="form_title"><h1>Registration Form</h1></div>
    <div class="register">
      <form id="register">
        <label>First name</label>
        <input type="text" placeholder="First name" />
        <br /><br />
        <label>Last name</label>
        <input type="text" placeholder="Last name" />
        <br /><br />
        <label>Username</label>
        <input type="text" placeholder="Username" />
        <br /><br />
        <label>Password</label>
        <input type="Password" placeholder="Password" />
        <br /><br />
        <a href="/"><input type="button" value="Register" /></a>
        <a href="/"><input type="button" value="Cancel" /></a>
      </form>
    </div>
  </body>
</html>
